@use '../helpers' as *;

// radio
.form-radio {
  position: relative;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
  &.form-inline {
    display: inline-block;
    margin-right: 2rem;
    margin-bottom: 1rem;
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  .form-radio-input {
    @include sr-only;
    &:checked {
      ~ .form-radio-label {
        &::before {
          border-color: $primary1;
        }
        &::after {
          background-color: $primary1;
        }
      }
    }
    &:disabled {
      ~ .form-radio-label {
        color: $disabled3;
        &::before {
          border-color: $disabled3;
        }
        &::after {
          background-color: $disabled3;
        }
      }
    }
  }
  .form-radio-label {
    position: relative;
    display: flex;
    align-items: center;
    @include fontHeight(1.6);
    &::before {
      content: '';
      display: inline-flex;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      border: 0.1rem solid $line1;
      border-radius: 50%;
      box-sizing: border-box;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0.8rem;
      left: 0.7rem;
      width: 1rem;
      height: 1rem;
      background-color: $line1;
      border-radius: 50%;
    }
  }
}
