@use '../helpers' as *;

// textarea
.form-textarea {
  &.is-error {
    .form-control {
      border-color: $error1;
    }
    .form-valid {
      display: block;
    }
  }
  .form-label {
    display: block;
    margin-bottom: 1rem;
    @include fontHeight(1.6);
  }
  .form-control {
    width: 100%;
    padding: 1rem 1.2rem;
    border: 1px solid $line1;
    border-radius: 0.6rem;
    @include fontHeight(1.4);
    box-sizing: border-box;
    &:focus {
      border-color: $primary1;
    }
    &.is-error {
      border-color: $error1;
    }
  }
  .form-valid {
    display: none;
    margin-top: 0.6rem;
    @include fontHeight(1.2);
    color: $error1;
  }
  .form-tip {
    margin-top: 0.6rem;
    @include fontHeight(1.2);
    color: $text2;
    text-align: right;
  }
}
