@use '../helpers' as *;

.toast {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 99;
  width: calc(100% - 4rem);
  background-color: rgba($black, 0.8);
  border-radius: 1rem;
  box-sizing: border-box;
  @include fontHeight(1.4);
  color: $white;
  transform: translate(-50%, 100%);
  transition: transform 0.3s;
  &.is-show {
    transform: translate(-50%, -6rem);
    transition: transform 0.3s;
  }
  .toast-area {
    position: relative;
    padding: 2rem;
    .btn-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 3.4rem;
      height: 3.4rem;
      @include icon-bg (28, 'close_white');
    }
  }
}